.chat {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.RoomsBar {
    padding-top:10px;
    height:100vh;
    border-right: 1px solid #1b2d3d65;
}

.hint {
    margin:auto;
}
